// generique
// ====================
@import 'libs/reset.scss';
@import 'moduls/mixin.scss';
@import 'moduls/functions.scss';
@import 'moduls/typography.scss';
$base-color-primary:#fc514c;
$base-color-secondary:#df908e;
$base-color-dark:#423d3d;
$base-color-muted:#d1cece;
$prymary:#66c25d;
$secondary:#4b8546;
$muted:#a1b1a0;
$max-width:1635px;
$during:.5s;
body {
    font-family: $s-p;
    background-color: #e4f3e3;
    line-height: 1.5;
    color: #868f85;
}

svg {
    width: 20px;
    height: 20px;
    vertical-align: middle;
    fill: currentColor;
    transition: fill $during +.5s;
}



img {
    width: 100%;
    height: auto;
    display: block;
}

a {
    text-decoration: none;
    color: #66c25d;
    opacity: .6;
    transition: opacity $during;
}
a:hover{
    opacity: 1;
}


.container,
%container {
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 0px;
    min-width: 200px;
    @include up(650) {
        padding-left: 12px;
        padding-right: 12px;
        margin-left: 80px;
    }
    @include up(1000) {
        margin-left: 180px;
        padding-left: 12px;
        padding-right: 12px;
    }
}

%margin {
    margin: 20px 0;
}

.body {
    width: 100%;
}

.wrapper{
    height: 100%;
    width: 100%;
    overflow: hidden;
}



// imports
// ====================
@import 'layouts/left_side.scss';
@import 'layouts/content_page.scss';
@import 'layouts/navbar_top.scss';
@import 'layouts/form.scss';
@import 'layouts/cart.scss';
@import 'layouts/footer.scss';
@import 'layouts/banner.scss';
