{% extends "base.html" %} {% block content %}
<div class="container mt-4">
    <h1>Add a new vrf to {{ device.name }} </h1>
    {% if request.session.error %}
    <div class="mb-4 mt-4 font-weight-light p-2  text-danger text-small ">{{ request.session.error }}</div>
    {% endif %}    
    <div class="card-body">
        <form method="POST" action="{% url 'add_vrf_device' device.id %}">
            {% csrf_token %}
            {{ vrf_form }}
            <div class="form-group mt-3">
                <button type="submit" class="btn btn-primary btn-block" >Add</button>
            </div>
        </form>
    </div>

</div>
{% endblock %}