{% extends "base.html" %} {% block content %}
<div class="container mt-4">
    <h1>{{ title }}</h1>
    <p>This is {{name}}</p>
    {% if request.session.error %}
    <div class="mb-4 mt-4 font-weight-light p-2  text-danger text-small ">{{ request.session.error }}</div>
    {% endif %}
    {% if request.session.success %}
    <div class="mb-4 mt-4 font-weight-light p-2  text-success text-small ">{{ request.session.success }}</div>
    {% endif %}
    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Host</th>
                <th>Add vrf</th>
            </tr>
        </thead>
        <tbody>
            {% for device in devices %}
            <tr>
                <td>{{ device.id }}</td>
                <td> <a href="{% url 'device' device.id %}"> {{ device.name }}</a></td>
                <td>{{ device.host }}</td>
                <td><a href="{% url 'add_vrf' device.id %}"> vrf +</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

</div>
{% endblock %}