.main-gris{
    display: grid;
    grid-gap: 10px;
    grid-template-columns:  repeat(6,1fr);
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    @include up(650) {
        padding-left: 12px;
        padding-right: 12px;
        grid-gap: 12px;
        margin-bottom: 12px;
        margin-top: 12px;
    }
    @include up(1000) {
        padding-left: 20px;
        padding-right: 20px;
        grid-gap: 20px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
}
.carts{
    padding: 20px;
    border: 1px solid  $muted;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 1px 1px 1px 8px #030a031a;
}
.cart-body-link{
    width: 100%;
    height: 100%;
}

.cart-number,.cart-name{
    text-align: center;
}

.cart-number{
    color: #2a6dd1;
    font-size: 28px;
}
.cart-name{
    font-size: 14px;
}
.cart-name::first-letter{
    text-transform: uppercase;
}
.new-enter{
    background: #d12a2a;
    border-radius: 20px;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.new-enter{
    color: #eef1f7;
    display: table;
}