{% extends "base.html" %} {% block content %}
<div class="container mt-4">
    <h1>Add a new access management </h1>
    {% if request.session.error %}
    <div class="mb-4 mt-4 font-weight-light p-2  text-danger text-small ">{{ request.session.error }}</div>
    {% endif %}
    <div class="card-body">
        <h1 class="card-title">Static routing </h1>
        <form action="{% url 'routing_vrf' vrf.id %}"  method="post">
            {% csrf_token %}
            <input type="hidden" value="static" name="protocol">
            <div class="">
                <label class="" >Network :</label>
                <input type="text" class="form-control" placeholder="a.b.c.d" name="netxork">
            </div>
            <div class="">
                <label class="" >Mask :</label>
                <input type="text" class="form-control" placeholder="a.b.c.d" name="mask">
            </div>
            <div class="">
                <label class="" >Next Hop :</label>
                <input type="text" class="form-control" placeholder="a.b.c.d" name="next_hop">
            </div>

            
            <button type="submit" class="btn btn-primary btn-block mt-2" >Send</button>
        </form>
    </div> 


    <div class="card-body">
        <h1 class="card-title">Rip version 2 routing </h1>
        <form action="{% url 'routing_vrf' vrf.id %}"  method="post">
            {% csrf_token %}
            <input type="hidden" value="rip" name="protocol">
            {% for device in devices %}
            <div class="">
                <label class="" >Network for {{ device.name }} :</label>
                <input type="text" class="form-control" placeholder="a.b.c.d" name="net{{ device.name }}">
            </div>
            {% endfor %}
            <button type="submit" class="btn btn-primary btn-block mt-2" >Send</button>
        </form>
    </div> 


    <div class="card-body">
        <h1 class="card-title">EIGRP routing </h1>
        <form action="{% url 'routing_vrf' vrf.id %}"  method="post">
            {% csrf_token %}
            <input type="hidden" value="eigrp" name="protocol">
            <div class="">
                <label class="" >As-number :</label>
                <input type="text" class="form-control" placeholder="1-65129" name="as_number">
            </div>
            <div class="">
                <label class="" >Autonomous sysytem :</label>
                <input type="text" class="form-control" placeholder="1-65129" name="system">
            </div>
            {% for device in devices %}
            <div class="">
                <label class="" >Network for {{ device.name }}:</label>
                <input type="text" class="form-control" placeholder="a.b.c.d" name="net{{ device.name }}">
            </div>

            <div class="">
                <label class="" >Mask for {{ device.name }}:</label>
                <input type="text" class="form-control" placeholder="a.b.c.d" name="mask{{ device.name }}">
            </div>
            {% endfor %}
            <button type="submit" class="btn btn-primary btn-block mt-2" >Send</button>
        </form>
    </div> 

    <div class="card-body">
        <h1 class="card-title">OSPF routing </h1>
        <form action="{% url 'routing_vrf' vrf.id %}"  method="post">
            {% csrf_token %}
            <input type="hidden" value="ospf" name="protocol">
            <div class="">
                <label class="" >As-number :</label>
                <input type="text" class="form-control" placeholder="1-65129" name="as_number">
            </div>
           {% for device in devices %}
            <div class="">
                <label class="" >Network for {{ device.name }} :</label>
                <input type="text" class="form-control" placeholder="a.b.c.d" name="net{{ device.name }}">
            </div>

            <div class="">
                <label class="" >Wildcard Mask for {{ device.name }} :</label>
                <input type="text" class="form-control" placeholder="a.b.c.d" name="mask{{ device.name }}">
            </div>
            {% endfor %}
            <div class="">
                <label class="" >Area :</label>
                <input type="text" class="form-control" placeholder="1-65412" name="area">
            </div>

            <button type="submit" class="btn btn-primary btn-block mt-2" >Send</button>
        </form>
    </div> 

</div>
{% endblock %}