{% extends "base.html" %} {% block content %}
<div class="container mt-4">
    <h2 class="card-title">{{ device.name}} - ({{device.host}}) interface</h2>
    {% if request.session.success %}
    <div class="mb-4 mt-4 font-weight-light p-2  text-success text-small ">{{ request.session.success }}</div>
    {% endif %}
    {% if request.session.error %}
    <div class="mb-4 mt-4 font-weight-light p-2  text-danger text-small ">{{ request.session.error }}</div>
    {% endif %}
    <table class="table table-striped mt-4">
        <thead class="thead-dark text-center" >
            <tr>
                <th>Interface name</th>
                <th>Enabled ?</th>
                <th>Up ?</th>
                <th>Add vrf </th>
                <th>ip address </th>
                <th>mask</th>
                <th>Change ?</th>
            </tr>
        </thead>
        <tbody>
            {% for interface_name, interface in interfaces.items %}
            <form action="" id="{{ interface_name }}" method="post">
                {% csrf_token %}
                <input type="hidden" name="interface_name" value="{{ interface_name }}">
                <input type="hidden" name="enable" value="{{interface.is_enable|yesno:" False,True " }}">
            </form>
            <tr>
                <td>{{ interface_name }}</td>
                <td>
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class=""  {% if interface.is_enable%} checked {% endif %}>
                    </div>
                </td>
                <td>
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="" id="customCheck2"  {% if interface.is_up%} checked {% endif %}>
                    </div>
                </td>
                <td>
                    <div class="custom-control custom-checkbox">
                        <select class="" >
                            <option class="">------------</option>
                            {% for vrf in vrfs %}
                            <option class="" value="{{ vrf.name }}">{{ vrf.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </td>
                <td>
                    <div class="custom-control custom-checkbox">
                        <input type="text" class="" id="" placeholder="a.b.c.d"  name="ipadd{{ interface_name }}" >
                    </div>
                </td>
                <td>
                    <div class="custom-control custom-checkbox">
                        <input type="text" class="" id="" placeholder="a.b.c.d" name="mask{{ interface_name }}">
                    </div>
                </td>
                <td>
                    <button type="submit" class="btn btn-primary">changed</button>
                </td>
            </tr>
            {% endfor %}

        </tbody>
    </table>
</div>
{% endblock %}